.place__title {
    margin: 0;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

@media screen and (max-width: 951px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        min-width: 288px;
        padding: 0 16px 0 16px;
    }
}

@media screen and (max-width: 280px) {
    .place__title {
        min-width: calc(100% - 40px);
    }
}