.cover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url('../../images/cover-background.jpg');
    margin: 0;
    max-width: 1184px;
    min-height: 740px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 48px;
    margin-left: 48px;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.cover:hover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url('../../images/cover-background.jpg');
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 0;
        min-width: 100%;
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
        min-width: 320px;
        padding: 0;
    }
}
@media screen and (max-width: 280px) {
    .cover {
        min-height: 100px;
        min-width: 220px;
    }
}
