.place__container-text {
  margin: 0;
  padding-left: 40px;
  max-width: 484px;
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
  .place__container-text {
   padding-left: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .place__container-text {
    padding-left: 28px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__container-text {
    padding: 0;
  }
  }