.place__container-description {
  display: flex;
}
@media screen and (max-width: 610px) {
  .place__container-description {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .place__container-description {
    flex-direction: column;
  }
}