.place__container-heading {
  display: flex;
  padding-bottom: 48px;
}

@media screen and (max-width: 320px) {
  .place__container-heading {
    flex-direction: column;
    padding: 0 0px 32px 0px;
  }
}