.place__container-heading {
  display: grid;
  padding-bottom: 48px;
  grid-template-columns: 460px 1fr;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .place__container-heading {
    grid-template-columns: 440px 1fr;
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .place__container-heading {
    grid-template-columns: 340px 1fr;
    gap: 28px;
  }
}
@media screen and (max-width: 610px) {
  .place__container-heading {
    gap: 32px;
    grid-template-columns: none;
    grid-auto-rows: minmax(min-content, max-content);
  }
}

@media screen and (max-width: 320px) {
  .place__container-heading {
    gap: 32px;
    grid-template-columns: none;
    grid-auto-rows: minmax(min-content, max-content);
  }
}